extends layout

block content
  h1= title
  
  ul
   each val in book_list
    if val.status=='Available'
      li 
        a(href=val.url) #{val.book.title} 
        | (#{val.status})
        
    else
      li
        a(href=val.url) #{val.book.title} 
        | #{val.status}
        | #{val.imprint}
        | #{val.due_back_formatted}

  
